body {
    display: flex;
    background-color: rgb(13, 0, 255);
    margin: 0px;
    padding: 0px;
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}